body{
  margin:0;
}
body.white{
  color:black;
  background-color: white;
}
body.black{
  color:white;
  background-color: black;
}
h1 {
  border-bottom:1px solid red;
  padding:20px;
  margin-bottom: 0;
}
h1>a{
  text-decoration: none;
}
ol{
  border-right:1px solid red;
  width: 150px;
  float:left;
  margin-top:0;
  padding-top:20px;
  height:1000px;
}
#article{
  padding-left:20px;
  float:left;
  width:400px;
}
